<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Change Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose user & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    
    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

  <%-include('./include/header')%>
        
        <!-- ========== Left Sidebar Start ========== -->
   <%-include('./include/leftsidebar')%>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <div id="flash-messages">
                        <% if (messages.success) { %>
                            <div class="alert alert-success">
                                <%= messages.success %>
                            </div>
                        <% } else if (messages.error) { %>
                            <div class="alert alert-danger">
                                <%= messages.error %>
                            </div>
                        <% } else if (messages.info) { %>
                            <div class="alert alert-info">
                                <%= messages.info %>
                            </div>
                        <% } %>
                    </div>

                    <div class="col-md-6 offset-md-3">
                        <span class="anchor" id="formChangePassword"></span>
                        <!-- <hr class="mb-5"> -->
    
                        <!-- form card change password -->
                        <div class="card card-outline-secondary">
                            <div class="card-header">
                                <h3 class="mb-0">Change Password</h3>
                            </div>
                            <div class="card-body">
                                <form   action="/user/changedpassword" method="post"  >
                                    <div class="form-group">
                                        <label for="inputPasswordOld">Current Password</label>
                                        <input type="password" class="form-control" id="inputPasswordOld" name="password" >
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPasswordNew">New Password</label>
                                        <input type="password" class="form-control" name="newPassword" id="inputPasswordNew" >
                                        <span class="form-text small text-muted">
                                                The password must be 8-20 characters, and must <em>not</em> contain spaces.
                                            </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPasswordNewVerify">Confirm Password</label>
                                        <input type="password" class="form-control" id="inputPasswordNewVerify" name="confirmPassword" >
                                        <span class="form-text small text-muted">
                                                To confirm, type the new password again.
                                            </span>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <%-include ("./include/footer") %>

                </div>

            </div>
            <!-- END layout-wrapper -->

        </div>
            
            <!-- JAVASCRIPT -->
            <script src="/assets/libs/jquery/jquery.min.js"></script>
            <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
            <script src="/assets/libs/simplebar/simplebar.min.js"></script>
            <script src="/assets/libs/node-waves/waves.min.js"></script>
            <script src="/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

            <!--Morris Chart-->
            <script src="/assets/libs/morris.js/morris.min.js"></script>
            <script src="/assets/libs/raphael/raphael.min.js"></script>

            <script src="/assets/js/pages/dashboard.init.js"></script>

            <!-- App js -->
            <script src="/assets/js/app.js"></script>
            <script>
                setTimeout(function () {
                    document.getElementById("flash-messages").style.display = "none";
                }, 2000);
            </script>
</body>

</html>