<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    
    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />

    <link rel="stylesheet" href="/assets/css/checkbox.css">

</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

  <%-include('../../include/header')%>
        
        <!-- ========== Left Sidebar Start ========== -->
  <%-include('../../include/leftsidebar')%>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <div class="main-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="page-title-box">
                                    <h4>Profile</h4>
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="/admin/index">Dashboard</a></li>
                                            <li class="breadcrumb-item"><a href="/admin/profile">Profile</a></li>
                                            <!-- <li class="breadcrumb-item active">Profile</li> -->
                                        </ol>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters-sm">
                          <div class="col-md-4 mb-3">
                            <div class="card" style="height: 100%;">
                              <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                  <img src="/assets/upload/<%=userdata.photo%>" alt="user" class="rounded" width="82%">
                                  <div class="mt-8" style="margin-top: 20%;">
                                    <h4><%=userdata.name%></h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <div class="col-md-8">
                            <div class="card mb-3">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-sm-3">
                                    <h6 class="mb-0">Group Name</h6>
                                  </div>
                                  <div class="col-sm-9 text-secondary">
                                    <%=userdata.name%>
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0">Creator</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                      <%=creator.name%>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0">Current Members</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                      <%=members%>
                                    </div>
                                  </div>
                                  <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0">Limit</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                      <%=userdata.limit%>
                                    </div>
                                  </div>
                                  <hr>
                               
                                <div class="row">
                                  <div class="col-sm-3">
                                    <h6 class="mb-0">Status</h6>
                                  </div>
                                  <div class="col-sm-9 text-secondary">
                                    <%=userdata.status%>
                                  </div>
                                </div>
                            </div>
                            
                          </div>
                          <div class="col-sm-18">
                            <a class="btn btn-info"  href="/admin/viewGroupMember">View Member</a>
                          </div>
                        </div>
                      </div>
                      <div class="container">
                        <table id="dataTable" class="display" style="text-align: center;">
                          <thead>
                            <tr>
                              <th style="text-align: center;">ID</th>
                              <th style="text-align: center;">NAME</th>
                              <th style="text-align: center;">IMAGE</th>
                              <th style="text-align: center;">PHONE</th>
                              <th style="text-align: center;">CITY</th>
                              <th style="text-align: center;">GRNDER</th>
                              <th style="text-align: center;">STATUS</th>
                            </tr>
                          </thead>
                        </table>
                      </div>
                      

                      <%-include ("../../include/footer") %>  
                </div>
                <!-- end main content-->
                
            </div>
            <!-- END layout-wrapper -->

            <!-- JAVASCRIPT -->
            <script src="/assets/libs/jquery/jquery.min.js"></script>
            <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
            <script src="/assets/libs/simplebar/simplebar.min.js"></script>
            <script src="/assets/libs/node-waves/waves.min.js"></script>
            <script src="/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

            <!--Morris Chart-->
            <script src="/assets/libs/morris.js/morris.min.js"></script>
            <script src="/assets/libs/raphael/raphael.min.js"></script>

            <script src="/assets/js/pages/dashboard.init.js"></script>

            <!-- App js -->
            <script src="/assets/js/app.js"></script>

            <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
            <script
              src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
            <script>
                $(document).ready(function () {
                $("#dataTable").DataTable({
                  "serverSide": true,
                  'paging': true,
                  'searching':true,
                  'ordering': true,
                  'serverMethod': "GET",
                  "ajax": {
                    'url': '/admin/getuserdata',
                  },
                  'columns': [
                    {"data":'_id'},
                    {"data":'name'},
                    { "data": 'photo', render: function (data) { 
                      return `<img src="/assets/upload/${data}" alt="User Image"  class="rounded" style="width: 66px; height: 53px; margin-left:9%">`; 
                    }},
                    {"data":'phone'},
                    {"data":'city'},
                    {"data":'gender'},
                        {
                            data: null,
                            render: function(data, type, row) {
                              if(data.status == "active" ){
                                return `<div class="checkbox-wrapper-14"><input type="checkbox" class="switch" name="my_checkbox" id="${data._id}" value="${data._id}" checked> </div>`
                            }else{
                              return `<div class="checkbox-wrapper-14"><input type="checkbox" class="switch" name="my_checkbox" id="${data._id}" value="${data._id}"></div>`
                            }
                          }
                        }
                      ]
                });
              });
        
              $(document).on('change', '.switch', function (e) {
               let id  = $(this).val();
               $.post(`/admin/updatestatus/${id}`,function(data){
        
              Swal.fire({
              icon: "success",
              title: "Status Updated",
              showConfirmButton: false,
              timer: 1000
              });
               })
            });
                </script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>